<header class="header">{{header}}</header>
<section class="main">
	<div class="root">
		<span>Add</span>
		<button class="delete" id="root-delete">-</button>
		<button class="add" id="root-add">+</button>
	</div>
	<div class="form-wrapper" [class.form-visible]="form.visible">
		<form (ngSubmit)="create(); addItemForm.reset()" #addItemForm="ngForm">
			<div class="form-group">
				<label for="title-input">Add title</label>
				<input type="text" name="title" class="form-control" id="title-input" placeholder="Add title" required [(ngModel)]="title">
			</div>
			<!-- <div class="form-group">
				<label for="image-input">Add image</label>
				<input type="text" name="image" id="image-input" placeholder="Add image" required [(ngModel)]="image">
			</div>  -->
			<input type="hidden" name="parent_id" id="parent_id" required>
			<input type="hidden" name="level" id="level" required>
			<input type="submit" class="btn btn-default">
		</form>
	</div>
	<tree></tree>
</section>