<div class="item">
	<img src="{{ item.Image }}" alt="{{ item.Title }}">
	<p class="title"><strong>{{ item.Title }}</strong></p>
	<p>ID: <strong>{{ item.Item_id }}</strong></p>
	<p>PARENT: <strong>{{ item.Parent }}</strong></p>
	<p>LEVEL: <strong>{{ item.Level }}</strong></p>
	<button class="delete btn btn-info" (click)="onDelete()">Delete item</button>
	<button class="add btn btn-primary" (click)="onToggleForm()" attr.data-level="{{item.Level}}" attr.data-id="{{item.Item_id}}">Add new item</button>
</div>