<div class="item">
	<!-- <img src="{{ item.image }}" alt="{{ item.title }}"> -->
	<p class="title"><strong>{{ item.title }}</strong></p>
	<p>ID: <strong>{{ item.item_id }}</strong></p>
	<p>PARENT: <strong>{{ item.parent_id }}</strong></p>
	<p>LEVEL: <strong>{{ item.level }}</strong></p>
	<button class="delete" (click)="onDelete()">-</button>
	<button class="add" (click)="onToggleForm()" attr.data-level="{{item.level}}" attr.data-id="{{item.item_id}}">+</button>
    <!-- <div *ngIf="item[level] == 2">
		<div class="item-holder" *ngFor="let item of items">
			<item [item]="item"></item>
		</div>				
	</div> -->
</div>