.item-holder {
	display: inline-block;
	margin: 20px;
}
.item {
	height: 200px;
	width: 400px;
	padding: 10px;
	border: 1px solid blue;
	background-color: #fff;
}
.item>img {
	height: 100px;
	width: auto;
	float: right;
}
.title {
	font-size: 22px;
}